:root{
  --color-light-01:#FFF;
  --color-light-02:#F5F5F5;
  --color-dark-01:#33372C;
  --color-dark-01-hover:#33372cc2;
  --color-primary:#FA4032;
  --padding-section:5rem 0rem;
  --max-width-section:800px;
  --border-radius:1rem;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-dark-01);
  font-family: "Montserrat", sans-serif;
}
h1{
  text-wrap: balance;
  font-size: clamp(1.5rem, 0.5893rem + 4.0476vw, 3.625rem);
}
h2{
  font-size: clamp(1.25rem, 0.6607rem + 2.619vw, 2.625rem);
}
h3{
  font-size: clamp(1rem, 0.9464rem + 0.2381vw, 1.125rem);
}
p{
  text-wrap: pretty;
  font-size: clamp(0.875rem, 0.8214rem + 0.2381vw, 1rem);
}
a{
  text-decoration: none;
  font-weight: 600;
  font-size: clamp(0.875rem, 0.8214rem + 0.2381vw, 1rem);
}
ul{
  list-style: none;
}
li{
  list-style: none;
}
/* --- */
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 80%;
  max-width: var(--max-width-section);
}
.image{
  width: 100%;
}

/* --- */
.btn-primary{
  background-color: var(--color-primary);
  color: var(--color-light-01);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  gap: 0.5rem;
}

/* styles */
